/*-----------------------------------------------------------------------------
   13. 3d Folding Panel
-----------------------------------------------------------------------------*/

.cd-main {
    @include media(">wide-screen"){
        padding-left: 84px;
        padding-right: 84px;
    } 

	&::before {
		/* never visible - this is used in jQuery to check the current MQ */ 
		display: none;
		content: 'mobile';
	} 

	> * {
		@include transition(transform $fold-animation $fold-content-animation);
	}
	
	&.fold-is-open > * {
		/* on mobile - translate .cd-main content to the right when the .cd-folding-panel is open */
		@include transform(translateX(100%));
		@include transition(transform $fold-animation 0s);
	}

	@include media(">tablet") {

		&.fold-is-open > * {
			@include transform(translateX(600px));
		}
	}

	@include media(">desktop") {

		&::before {
			/* never visible - this is used in jQuery to check the current MQ */ 
			content: 'tablet';
		}

		&.fold-is-open > * {
			/* reset style - on bigger devices we translate the gallery items */
			@include transform(translateX(0));
		}
	}
}

.cd-gallery {
	@include clearfix;

	&::before {
		/* this is the dark layer covering the .cd-gallery when the .cd-folding-panel is open */
		display: block;
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: -84px;
		height: 100%;
		width: calc(100% + 186px);
		background-color: rgba(#000, .6);
		opacity: 0;
		visibility: hidden;
		@include transition(opacity  $fold-animation $fold-content-animation, visibility 0s $fold-animation+$fold-content-animation);
	}

	.fold-is-open &::before {
		visibility: visible;
		opacity: 1;
		@include transition(opacity  $fold-animation 0s, visibility 0s 0s);
	}
}

.cd-item {
	width: 100%;
    overflow: hidden;
	text-align: center;
    background-position: center center;
    background-size: cover;
    display: table;
    position: relative;

	/* Force Hardware Acceleration */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);

	@include transition(transform $fold-animation $fold-content-animation);
//    @include aspect-ratio(16,9);

	> .aspect-content {
        z-index: 3;

        h2{
            margin: 0;
            padding:0;
        }
	}
    
    a{
        display: block;
    }
    
    .cd-item__img,
    .cd-item__text{
        position: relative;
    }
    
    .cd-item__img{
        z-index: 2;
        .cd-item__img--text{
            position: absolute;
            text-align: center;
            @include center(xy);
            z-index: 2;
        }
        
        &:before{
            @include media("<tablet"){
                content:'';
                position: absolute;
                background-color: rgba($base-color,.7);
                @include size(100%);
                top:0;
                left:0;
                z-index: 1;
            }
        }
    }
    
    .cd-item__text{
        z-index: 3;
    }
    
    .layer-panr{
        position: relative;
        top:0;
        left:0;
        width:100%;
    }

	.cd-item__inner {
        background-color: $base-color;
        z-index: 3;
        
        &:before{
            top:0;
            right:0;
        }
        
        &:after{
            bottom:0;
            left:0;
        }

        @include media("<tablet") {
            width: 100% ;
        }
    }

    .icon-img{
	    width:30px !important;
        bottom:5%;
        left:4%;
        position: absolute;
        @include transform(translateX(20%));
        @include transition-delay(0s);
        @include transition(opacity .4s ease , transform .4s ease);
	}

    .overlay-header.alternative{
        display: block;
        position: relative;
        margin: 0;
	    color: #fff;
	    font-size: 20px;
	    margin-bottom: 0;
	    padding-bottom: 0;
        @include transition(color .4s ease .5s , transform .4s ease .5s);
        @include transform(translateY(0));
        
        &:after{
            position: absolute;
            left:50%;
            right:50%;
            top: auto;
            bottom:-8px;
            width:auto;
            background-color: lighten($base-color, 50%);
            @include transition(left .4s ease , right .4s ease);
            @include transition-delay(0s);
        }
        
        &:before{
            content:none;
        }
        
    }

	p {
		padding: 1em 0;
        text-transform: uppercase;
        font-family: $header-font;
        color:$base-color2;
        margin-bottom: 0;
        font-size: 13*$px;
	}

	i{
	    color: #fff;
	    font-size: 30px;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
    
	
	@include media(">=tablet") {
        .cd-item__img,
        .cd-item__text{
            @include column(.5, none);
            display: table-cell;
            vertical-align: middle;
        }
		@include column(1, left);
		@include transition(transform $fold-animation $fold-content-animation);
        
        .cd-item__text{
            background-color: $base-color;
            position: relative;
            
            &:after{
                content: '';
                position: absolute;
                border:solid transparent;
                border-right-color: $base-color;
                border-width:10px;
                top:50%;
                left:-20px;
                z-index: 10;
            }
            
            &.right-arrow{
                &:after{
                    left:auto;
                    right:-20px;
                    border-right-color: transparent;
                    border-left-color: $base-color;
                }
            }
        }
	}
    @include media(">=desktop") {
        .cd-item__img,
        .cd-item__text{
            @include column(.5, none);
            display: table-cell;
            vertical-align: middle;
        }
        @include column(.5, left);
        @include transition(transform $fold-animation $fold-content-animation);
    }
    
    .fold-is-open & {
        @include transition(transform $fold-animation 0s);
        @include transform(translateX(-400px));

        &:nth-of-type(2n) {
            @include transform(translateX(-400px));
        }
    }
    
     @include media(">desktop") {
        .fold-is-open & {
			@include transition(transform $fold-animation 0s);
			@include transform(translateX(-400px));

			&:nth-of-type(2n) {
				@include transform(translateX(400px));
			}
		}
    }
    
    @include media("<tablet") {
        .cd-item__text{
            display: none;
        }
    }
}


/* -------------------------------- 
folding panel
-------------------------------- */

.cd-folding-panel {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	visibility: hidden;
	overflow: hidden;
	
	@include transition(visibility 0s $fold-animation+$fold-content-animation);

	.fold-left,
	.fold-right {
		/* the :after elements of .fold-left and .fold-right are the 2 fold sides */
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: relative;

		/* enable a 3D-space for children elements */
		@include perspective(2000px);

		&::after {
			/* 2 fold sides */
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
//            background-image: url(../images/pattern/pattern-dot.png);
            background-color: #fff;

			/* Force Hardware Acceleration */
			@include transform(translateZ(0));
			@include backface-visibility(hidden);

			@include transition(transform $fold-animation $fold-content-animation, background-color $fold-animation $fold-content-animation);
		}
	}

	.fold-right {
		@include perspective-origin(0% 50%);

		&::after {
			@include transform-origin(right center);
			@include transform(translateX(-100%) rotateY(-90deg));
//			background-color: darken($color-3, 10%);
		}
	}

	.fold-left {
		/* on mobile only the right fold side is visible */
		display: none;

		&::after {
//			background-color: lighten($color-3, 12%);
		}
	}

	.cd-close {
		/* 'X' close icon */
		position: absolute;
		z-index: 1;
		display: inline-block;
		top: 10px;
		right: 2em;
		height: 44px;
		width: 44px;

		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;

		opacity: 0;
		@include transition(opacity .2s 0s);

		&::after, 
		&::before {
			/* lines of 'X' icon */
			content: '';
			position: absolute;
			height: 2px;
			width: 32px;
			left: 50%;
	    	top: 50%;
			background-color: $base-color;
			@include backface-visibility(hidden);
			@include transition(opacity .2s);
		}

		&::after {
			@include transform(translateX(-50%) translateY(-50%) rotate(45deg));
		}

		&::before {
			@include transform(translateX(-50%) translateY(-50%) rotate(-45deg));
		}
	}

	&.is-open {
		visibility: visible;
		@include transition(visibility 0s .05s);

		.fold-right::after,
		.fold-left::after {
			@include transform(translateX(0));
			@include transition(transform $fold-animation 0s, background-color $fold-animation 0s);
		}

		.fold-right::after {
//			background-color: lighten($color-3, 12%);
		}

		.cd-close {
			opacity: 1;
			@include transition(opacity .2s $fold-animation);
		}
	}

	@include media(">tablet") {
		width: 600px;
	}

	@include media(">desktop") {
		@include center(x);
		width: 800px;

		.fold-left,
		.fold-right {
			@include column(.5,left);
			height: 100%;
		}

		.fold-right {
			/* change perspective-origin so that the 2 fold sides have the same vanishing point */
			@include perspective-origin(0% 50%);

			&::after {
				@include transform-origin(right center);
				@include transform(translateX(-100%) rotateY(-90deg));
			}
		}

		.fold-left {
			display: block;
			/* change perspective-origin so that the 2 fold sides have the same vanishing point */
			@include perspective-origin(100% 50%);

			&::after {
				@include transform-origin(left center);
				@include transform(translateX(100%) rotateY(90deg));
			}
		}
	}
}

.cd-fold-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0 2em;

	visibility: hidden;
	@include transition(visibility 0s $fold-content-animation);

	h2,
    .menu-list {
		opacity: 0;
		@include transform(translateY(20px));
	}
	
	h2 {

		@include transition(transform $fold-content-animation/2 $fold-content-animation/2, opacity $fold-content-animation/2 $fold-content-animation/2);
	}

	p, em {
		line-height: 1.6;
	}

	em {
		display: inline-block;
		margin: 1em 0;
		font-size: 1.8rem;
//		color: lighten($color-1, 30%);

		@include transition(transform $fold-content-animation/2 $fold-content-animation/4, opacity $fold-content-animation/2 $fold-content-animation/4);
	}

	p {
		margin-bottom: 1em;
		font-size: 1.4rem;
		@include transition(transform $fold-content-animation/2 0s, opacity $fold-content-animation/2 0s);
	}

	.is-open & {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		visibility: visible;
		@include transition(visibility 0s $fold-animation);

		h2,
        .menu-list{
			opacity: 1;
			@include transform(translateY(0));
		}

		h2 {
			@include transition(transform $fold-content-animation/2 $fold-animation, opacity $fold-content-animation/2 $fold-animation);
		}

		.menu-list {
			@include transition(transform $fold-content-animation/2 $fold-animation+$fold-content-animation/4, opacity $fold-content-animation/2 $fold-animation+$fold-content-animation/4);
		}

		p {
			@include transition(transform $fold-content-animation/2 $fold-animation+$fold-content-animation/2, opacity $fold-content-animation/2 $fold-animation+$fold-content-animation/2);
		}
	}

	@include media(">desktop") {

		> * {
			@include transform(translateY(40px));
		}

		em {
			font-size: 2.2rem;
		}
	}
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */

.no-js .cd-fold-content.single-page {
	position: static;
	visibility: visible;
	height: auto;
//	background-color: $color-3;

	> * {
		opacity: 1;
		@include transform(translateY(0));
	}
}