/*-----------------------------------------------------------------------------
   18. Form
-----------------------------------------------------------------------------*/

.quform-success-message,
.quform-outer-no-js .quform-success-message {
    position: relative;
    display: block;
    float: left;
    margin: 10px 0;
    font-size: 12px;
    padding: 3px 12px;
    color: #fff;
    width:100%;
    background-color: #0eb493;
    &:before {
        content: '\f00c';
        display: inline-block;
        font-family: 'FontAwesome';
        margin-right: 5px;
        position: relative;
        top: 1px;
    }
}


.quform-element {
    margin-bottom: 4em;
    text-align: left;
    
    label {
        display: block;
        margin-bottom: .5em;
        text-align: left;
        text-transform: uppercase;
        color:$base-color;
        font-weight: normal;
    }
    
    .quform-errors{
        display: none;
    }
    
    .quform-error{
        position: absolute;
        display: inline-block;
        float:left;
        margin-top: 10px;
        font-size:12px;
        padding:3px 12px;
        color:#fff;
        background-color: #ee1c25;
        
        &:before{
            content:'\f071';
            display: inline-block;
            font-family: 'FontAwesome';
            margin-right: 5px;
            position: relative;
            top: 1px;
        }
    }
}


.quform-lines{
    @include media("<wide-screen"){
        padding-bottom: $space-y;
    }
    
    .quform-lines__element{
        
        input,
        textarea{
            width:100%;
            padding:12px 20px;
            box-shadow: none;
            background-color: $base-color2;
            border:1px solid $base-color3;
        }
    }
    
    .quform-required{
        color:#ee1c25;
    }
}

/* SUBSCRIBE FORM ICON */

#subscribe-form-icon{
    .input-group{
        position: relative;
        width:100%;
        
        button{
            position: absolute;
            right:0;
            top:0;
            width:40px;
            height:99%;
            line-height:100%;
            background-color: $base-color;
            
            i{
               color: #fff;
               font-size: 40px;
                margin: 0;
                
            }
            
        }
        
        input{
            padding:.8em 1.7em;
            width:100%;
            outline: none;
            background-color: $base-color2;
        }
    }
}


/*Loading the submit*/

.quform-submit-inner{
    float: left;
}

.quform-loading-wrap {
    display: none;
    float: left;
    height: 10px;
    line-height: 10px;
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
    
    .quform-loading {
        display: block;
        width: 16px; 
        height: 16px;
        text-indent: -9999px;
        background: transparent url('../images/ajax-loader.gif') no-repeat center center;
    }

}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:lighten($text-color, 5%);
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color:lighten($text-color, 5%);
}

input:-ms-placeholder, textarea:-ms-placeholder {
  color:lighten($text-color, 5%);
}