/*-----------------------------------------------------------------------------
   24. BLOG
-----------------------------------------------------------------------------*/

.blog-stander-sidebar{
    .blog-stander-sidebar__details{
        margin-bottom: 30*$px;
        padding-bottom: 30*$px;
        border-bottom:1px solid $border-color;

        h2{
            margin: 0;
        }
        .post-title{
            font-size: 24*$px;
            line-height: 1em;
            text-transform: uppercase;
            margin-top: 0;
            font-weight: normal;
            color:$base-color;
            
            &:hover{
                color:lighten($base-color,30%);
            }
        }
        
        .post-data__group{
            margin: 10*$px 0 20*$px;
            li{
                display: inline;
                font-size: 13*$px;
                
                a{
                    display: inline-block;
                    color:lighten($base-color,30%);
                    @include transition(color .3s);
                    @extend %alink-hover;
                    
                
                    &:hover{
                        color:$base-color;
                    }
                }
              
                i{
                    font-size: 16px;
                    vertical-align: middle;
                }
                
                &:after{
                    content:" |";
                }
                
                &:last-child{
                    &:after{
                        content:none;
                    }
                }
            }
        }
        
        .post-brief{
            margin-top: 20*$px;
            
            .post-more{
                position: relative;
                display: inline-block;
                color:lighten($base-color,30%);
                font-size: 13*$px;
                @extend %alink-hover;
                
                &:hover{
                    color:$base-color;
                }
            }
        }
        
        .post-quote__in{
            a{
                font-family: $header-font;
                font-size: 24*$px;
                line-height: 1.5em;
                color:$base-color;
                @include transition(color .3s);
                
                span{
                    font-size: 14*$px;
                    text-transform: capitalize;
                }
                
                &:hover{
                    color:lighten($base-color,30%);
                }
            }
        }
    }
}

.pagination{
    margin: 0;
    @include media("<desktop"){
        margin-bottom: $space-y;
    }
    a{
        display: inline-block;
        @include size(40px);
        margin-right: 5px;
        text-align: center;
        line-height: 40px;
        border:1px solid $border-color;
        @include transition(background-color .3s, color .3s);
        
        &.active{
            background-color: $base-color;
            color:#fff;
        }
        
        &:hover{
            background-color: $base-color;
            color:#fff;
        }
    }
}


/* blog-sidebar */

.blog-sidebar {
    padding:30px 15px;
    
    @include media("<desktop"){
        padding-top: $space-y;
        margin: 0 -15px;
    }
    #searchfom{
        margin-bottom: 30px;
        
        input{
            border:1px solid $border-color;
            padding:10px;
        }
    }
    
    > section{
        margin-bottom: 30px;
        
        .post-title{
            text-transform: uppercase;
            font-weight: normal;
        }
        
        li{
            margin-bottom: 10px;
            display: block;
            
            a {
                display: inline-block;
                color:$base-color;
                text-transform: uppercase;
                @include transition(color .3s);
                @extend %alink-hover;
                
                img{
                    float: left;
                    margin-right: 20px;
                    width:60px;
                    height:60px;
                }
                
                &:hover{
                    color:lighten($base-color,30%);
                }
            }
            
            .recent-post__inner {
                a{
                   display: block;
                }
            }
            
            time{
                display: block;
            }
        }

        
        &.tags a{
            float: left;
            padding:6px;
            margin:0 3px 3px 0;
            border:1px solid  $border-color;
            font-size: 12px;
            text-align: center;
            @include transition(color .3s, background-color .3s);
            
            &:hover{
                color:lighten($base-color,30%);
            }
        }
        
        .social-feed{
            li{
                float: left;
                margin:0 3px 3px 0;
                
                a{
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    
                    &:after{
                        content:none;
                    }
                }
                
                img{
                    margin: 0;
                }
            }
        }
        
        &:last-child{
            margin-bottom: 0;
        }

        .instagram-list{
            li{
                width: auto;
            }
        }
    }
} 

.blog-intro{
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding:100px 0;
    height: 85vh;
    width:100%;
}

.blog-intro__post{
    background-image: url(../images/hero-img/2.jpg);
}

.blog-intro .col-md-12{
    display:table;
    height: calc(85vh - 200px);
    width:100%;
}

.blog-intro:after{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 0;
    background-color: rgba($base-color,.8);
}

.blog-intro {
    .blog-intro__header{
        position: relative;
        display:table-cell;
        vertical-align:middle;
        z-index: 10;
        padding-left:2em;
        
        &.grid-header{
            time{
                display: block;
                color:#fff;
            }
            .hero-header{
                position: relative;
                display: inline-block;
                &:before{
                    content:'';
                    position: absolute;
                    background-color: #fff;
                    height:1px;
                    width:100%;
                    top:0;
                    left:0
                }
            }
        }
    }
    
    .text-center{
        .blog-intro__header{
            padding-left: 0;
        }
    }
    
    .section-header{
        color:#fff;
        font-weight: bold;
        margin-bottom: 48px;
    }
    
    .underline{
        background-color: #fff;
    }
    
    .post-single-meta{
        margin: 10*$px 0 20*$px;
        li{
            display: inline;
            font-size: 13*$px;
            color:$base-color2;

            a{
                display: inline-block;
                font-weight: bold;
                color:$base-color2;
                @include transition(color .3s);
                @extend %alink-hover;

                &:hover{
                    color:#fff;
                }
                &:after{
                    background-color: #fff;
                }
            }

            i{
                font-size: 16px;
                vertical-align: middle;
            }

            &:after{
                content:" |";
            }

            &:last-child{
                &:after{
                    content:none;
                }
            }
        }
    }
}

.post-text{
    p{
        margin-bottom: 20px;
    }
}

.gallery-intext{
    margin: 30px 0;
}

.post-band{
    padding:30px 0;
    border-top:1px solid $border-color;
    margin-bottom: 24px;
    
    &.last-band{
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.post-share{
    text-align: center;
    
    a{
        display: inline-block;
        margin: 0 5px;
        @include transition(color .3s);
        font-size: 20px;
        
        &:hover{
            color:lighten($base-color, 30%);
        }
    }
}

/* AUTHOR POST */

.author-post{
    img{
        float: left;
        width:100px;
        height:100px;
        margin-right: 30px;
    }
    
    .author-post__data{
        overflow:hidden;
        
        h6{
            margin-top: 0;
            font-weight: normal;
        }
        
        h4,h6{
            margin-top: 0;
            margin-bottom: 10px;
            text-transform: capitalize;
        }
        
        a{
            color:$base-color;
            text-transform: capitalize;
            @include transition(color .3s);
            
            &:hover{
                color:lighten($base-color, 30%);
            }
        }
        
        p{
            margin-bottom: 0;
        }
    }
}



/* BLOCK NEWS */

.block-news{
    h4{
        display: block;
    }
    
    [class*="col-"]{
        
        margin-bottom: 30px;
        
        a{
            display: block;
            @include transition(box-shadow .3s);
            background-color: $base-color2;
            @extend %clearfix;
            
            &:hover{
                box-shadow:0 0 10px rgba(0,0,0,.1);
            }
        }
        
        h4{
            font-size: 14*$px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        
        img{
            float: left;
            @include size(100px);
            margin-right: 20px;
        }
        
        time{
            font-size: 12px;
            text-transform: uppercase;
        }
        
        
        
        &:nth-child(n+3){
            @include media(">tablet"){
                margin-bottom: 0;
            }
            @include media("<tablet"){
                &:nth-child(4){
                   margin-bottom: 0; 
                }
            }
        }
    }
}

.comment-wrap {
    .join {
        display: block;
        text-transform: capitalize;
        font-size: 14px;
    }
    
    .section-title{
        text-transform: uppercase;
        font-size: 18px;
        margin: 10px 0 30px 0;
    }
}


.commentsList>{
    .comment {
       padding: 2em 0;
        
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
        }
    }
}


.commentBand {
    .comment-header {
        display: block;
        overflow:hidden;
    }
    
    .avatar {
        float: left;
        margin-right: 2em;
        width:80px;
        height:80px;
    }
    
    .comment-author {
        h5 {
            font-size: 14px;
            margin: 0;
            line-height: inherit;
            text-transform: capitalize;
        }
        
        time {
            font-size: 12px;
            text-transform: capitalize;
        }
    }
    
    .comment-text {
        display: block;
        overflow: hidden;
        margin-top: 1em;
        
        &.nested-comment{
            margin-bottom: 2em;
        }
    }
    
    .more-title{
        font-size: 12px;
        color:lighten($base-color, 30%);
        @include transition(color .3s);
        @extend %alink-hover;
        
        &:hover{
            color:$base-color;
        }
    }
}


.comment .commentListSub {
    padding-left: 4em;
    padding-top: 2em;
    border-left:1px solid $border-color;
}

@media (max-width: 768px) {
    .comment .commentListSub {
        margin-left: 1em;
        border: 0;
    }
}

/* BLOCK GRID */

.block-grid{
    
    .block-grid__inner{
        display: block;
        position: relative;
        
        .block-grid__type{
            position: absolute;
            top:25px;
            left:0;
            @include transform(rotate(90deg));
            text-transform: uppercase;
            color:$base-color
        }
        
        .block-grid__img{
//            width:100%;
            margin-left: 50px;
            position: relative;
            
            &:after{
                content:'';
                background-color: rgba($base-color , .4);
                top:0;
                left:0;
                @include size(100%);
                display: block;
                position: absolute;
                opacity:1;
                @include transition(opacity .5s);
            }
        }
        
        .block-grid__text{
            position: absolute;
            left:0;
            @include center(y);
            width:100%;
            text-transform: uppercase;
            color:$base-color;
            padding-left:1em;
            @include transition(color .5s);
            
            &:after{
                content:'';
                width:100%;
                height:100%;
                display: block;
                position: absolute;
                padding: 0;
                @include center(y);
                @include transition(background-color .5s ease-in-out, padding .5s ease-in-out);
                background-color: rgba($base-color2, .5);
                z-index: -1;
            }
        }
        
        .block-grid__text-date{
            @include transition(opacity .5s);
            padding:15px 0 0 15px;
        }
        
        .block-grid__text-title{
            padding-left:1em;
            .main-header{
                margin: 0;
                padding:0 0 15px 0;
                font-size: 24*$px;
                color:$base-color;
                @include transition(color .5s);
                &:before{
                    content:none;
                }
            }
        }
        
        &:hover{
            .block-grid__img{
                &:after{
                    opacity:0;
                }
            }
            
            .block-grid__text{
                &:after{
                    padding: 75px 0;
                    background-color: rgba($base-color2, .8);
                }
            }
        }
        
        &.block-mid{
            margin: 50px 0;
            
            .block-grid__text{
                @include media(">tablet"){
                    &:after{
                        width:50%;
                    }
                }
            }
        }
        @include media("<tablet"){
            &.add-mb{
                margin-bottom: 50px;
            }
        }
    }
}

.grid-text{
    .block-grid__type{
        position: absolute;
        left:-11.333%;
        top:21px;
        text-transform: uppercase;
        color:$base-color;
        @include transform(rotate(90deg));
        
        @include media("<desktop"){
            display: none;
        }
    }
}