/*-----------------------------------------------------------------------------
   21. Food Menu
-----------------------------------------------------------------------------*/

.menu-content{
    position: relative;
    width:100%;
    overflow:hidden; 
    z-index: 1;
    background-attachment: fixed;
    background-size: cover;
    
    @include media("<wide-screen"){
        background-attachment: local;
        background-size: contain;
    }
    
    .container-fluid{
        position: relative;
        z-index: 10;     
    }
}

.menu-categorize{
    padding:3em 1em 1em 1em;
    margin: 1em 0;
    
    &.menu-categorize-pattern{
//        background-image: url(../images/pattern/pattern-dot.png);
        background-color: #fff;
        background-repeat: repeat;
    }
    
    .menu-categorize__header{
        color:$base-color;
        display: block;
        text-align: center;
        
        .menu-categorize__header-sub{
            font-size: 12*$px;
            line-height: normal;
            position: absolute;
            left:0;
            right:0;
            bottom:.5em;
        }
    }
    
    &.menu-categorize-s2{
        border: 0;
        padding-top: 1em;
    }
    
    &.last-categorize{
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.menu{
    .menu-list{
        padding:1em 0;
        border-bottom:1px dashed lighten($base-color,10%);
        
        .menu-price{
            font-weight: bold;
            border-radius: 10px;
            line-height: 20px;
            height: 20px;
            display: inline-block;
            padding: 0 8px;
            color:$base-color;
            text-transform: none;
            font-size: 19*$px;
            font-family: $header-font;
            
            @include media('<tablet'){
                margin:1em 0 1.5em;
            }
        }
        
        .menu-desc{
            h5{
                text-transform: uppercase;
                font-weight:bold;
                color:$base-color;
                letter-spacing: 1px;
                line-height: 1.5em;
                margin: 0;
                font-family: $header-font;
            }
            
            p{ 
                text-transform: uppercase;
                margin: 0;
                color:$text-color;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
        
        &:last-child{
            border:0;
        }
    }
    
    &.in-img{
        @include media(">desktop"){
            padding-right: 48px;
        }
    }
}

.menu-book{
    padding: 0 90px;
    
    &:before{
        content:'';
        background-color: #fff;
        opacity: 0.9;
        position: absolute;
        @include size(100%);
        left:0;
        top:0;
    }
}