/*-----------------------------------------------------------------------------
   22. Main
-----------------------------------------------------------------------------*/


/*  WRAPPER */

.wrapper {
    z-index: 20;
    position: relative;
}

/* LAYER_Z */

.layer_z {
    position: relative;
}


.story-bg {
    height: 100%;
    background-position: center center;
}

.full_block {
    position: relative;
}


/* HERO HEADER */

.hero-header {
    font-size: 50*$px;
    text-transform: uppercase;
    color: $stable-color;
    margin: 0px 0;
    font-weight: normal;
    @include media('<=wide-screen') {
        font-size: 40*$px;
    }
    @include media('<=desktop') {
        font-size: 30*$px;
    }
    @include media("<tablet") {
        font-size: 24*$px;
    }
    &.dark-title {
        color: $text-color;
    }
}


/* HERO SUB HEADER */

.hero-sub-header {
    text-transform: uppercase;
    font-size: 14*$px;
    color: $base-color2;
    &.dark-sub-title {
        color: $text-color;
    }
}

.main-header {
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 1em;
    font-size: 35*$px;
    display: inline-block;
    z-index: 2;
    
    &:before{
        content:'';
        position: absolute;
        top:0;
        left:50%;
        width:80%;
        height:0;
        margin: auto;
        z-index: -1;
        @include transition(height .5s ease);
        @include transform(translate(-50%, -50%));
        background-color: darken($base-color2,4%);
    }

    &:after {
        position: absolute;
        content: '';
        top:0;
        left:0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: $base-color;
    }

    &.full-width{
        width:100%;
    }
    &.colorful {
        color: $text-color;
        color:$border-color;
        &:after {
            background-color: $border-color;
        }
        
        &:before{
            background-color: $text-color;
        }
    }
    
    &.add-back{
        &:before{
            height:65px;
        }
    }
    
    &.with-icon{
        margin-bottom: 0;
        padding: 0;
        ~i{
            display: block;
            font-size: 40px;
            margin-top: 20px;
        }
    }
    &.no-back{
        &:before{
            content:none;
        }
    }
}

.overlay-header{
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 45*$px;
    display: inline-block;
    color:#fff;
    margin: 0;
    padding: 0;
    
    &:after {
        position: absolute;
        content: '';
        left:0;
        @include center(y);
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    
    &.alternative{
        font-size: 35*$px;
        
        &:before{
            content:'';
            position: absolute;
            top:0;
            left:50%;
            width:80%;
            height:65px;
            margin: auto;
            z-index: 1;
            @include transform(translate(-50%, -50%));
            background-color: rgba(lighten($base-color2,4%),.5);
        }
    }
    
    @include media("<tablet") {
        font-size: 35*$px;
    }
}

.sub-header {
    text-transform: uppercase;
    margin-bottom: .5em;
    padding-bottom: .5em;
    font-size: 18*$px;
    position: relative;
    display: inline-block;
    &:before {
        position: absolute;
        top:0;
        left:0;
        vertical-align: middle;
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        margin-right: .5em;
        background-color: $border-color;
    }
}

.second-header {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.secation-header {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}


/* HEADER CONTENT */

.header-content {
    display: block;
    .second-header {
        margin-bottom: 5px;
    }
    span {
        display: block;
        text-transform: none;
        margin-bottom: 1em;
    }
}


/* MAIN TEXT */

.main-text {
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.secondry-text {
    font-size: 30px;
    font-style: italic;
    text-transform: none;
    color: #fff;
}


/* EQUAL IMG */

.equal-img,
.equal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include media("<wide-screen") {
        position: relative;
    }
}


/* ITEM DESCRIPTION */

.item-description {
    padding: $space-y 0 $space-y-half;
    .item-description__title {
        text-transform: uppercase;
        display: block;
        font-weight: bold;
    }
}

/* STANDARD BOXES */

.standard-boxes{
    position: relative;
    z-index: 2;
    .main-header{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .standard-boxes__text{
        padding: 3em 0;
        position: relative;
        z-index: 3;
    }
}

.deco-text{
    line-height: 28px;
}

/*********************************************
	-	TEAM LAYOUT	-
**********************************************/

.team-layout {
    
    .team-layout__r {
        position: relative;
        .team-layout__r--description {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            @include media("<desktop") {
                position: relative;
                margin-bottom: 30px;
                left: auto;
                right:auto;
            }
        }
        >img {
            margin-top: 150px;
            @include media("<desktop") {
                margin: 0 0 30px;
            }
        }
    }
}


/* SEPARATOR */

.separator {
    position: relative;
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow: hidden;
    @include media("<wide-screen") {
        background-attachment: local
    }
    @include media("<tablet") {
        height:50vh;
    }
    &.separator-deco {
        background-image: url(../images/hero-img/2.jpg);
    }
    &.separator-noheight {
        height: auto;
    }
    .separator__inner {
        width: 50%;
        position: absolute;
        padding: 3rem 0;
        text-transform: uppercase;
        text-align: center;
        @include center(xy);
        @include media("<desktop") {
            height: auto;
            padding: $space-small 0;
        }
        @include media("<tablet") {
            width: calc(100% - 30px);
        }

    }
    .separator__header {
        margin-top: 0;
        font-size: 24px;
        color: #fff;
        text-transform: none;
    }
    p {
        margin: auto;
        text-align: center;
        width: 50%;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        font-family: 'Merienda', Helvetica, Sans-serif;
        
        @include media("<tablet") {
            width: 100% ;
        }
    }
}

.separator2{
    position: relative;
    height:75vh;
    background-size: cover;
    background-position: 50% 50%;
}

.separator-menu {
    position: relative;
    height: 40vh;
    display: table;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    @include media("<wide-screen") {
        background-attachment: local;
    }

    .separator__inner {
        //        position: absolute;
        //        bottom:0;
        //        left:0;
        padding: $space-y-half 0;
        width: 100%;
        background-color: rgba($base-color, .2);
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        &:before {
            //            content:'';
            position: absolute;
            top: -20px;
            left: 0;
            height: 20px;
            width: 100%;
            opacity: .8;
            background: url(../images/pattern/shape-w.png) repeat-x center center;
        }
        .separator__header {
            margin: 0;
            //            color:#fff;
            font-size: 28px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            &:before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 4px;
                margin-right: .5em;
                vertical-align: middle;
                background-color: #fff;
            }
            &:after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 4px;
                margin-left: .5em;
                vertical-align: middle;
                background-color: #fff;
            }
        }
    }
    &.separator-starter {
        background-image: url(../images/hero-img/separatore-starter.jpg);
    }
    &.separator-main {
        background-image: url(../images/hero-img/separatore-main.jpg);
    }
    &.separator-indulge {
        background-image: url(../images/hero-img/separatore-indulge.jpg);
    }
    &.separator-drink {
        background-image: url(../images/hero-img/separatore-drink.jpg);
    }
}


/* LAYER PANR */

.layer-panr {
    display: block;
    overflow: hidden;
    img {
        width: 101% !important;
    }
}


/*********************************************
	-	ITEM CATEGORIZE 	-
**********************************************/

.item-categorize {
    background: url(../images/pattern/pattern-dot.png);
    @extend %clearfix;
    li {
        margin-bottom: 30px;
        position: relative;
    }
    .item-categorize__inner {
        position: relative;
        @include size(100%);
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform:translate3d(-10px, -10px, 0);
            background-color: $base-color;
            @include transition(width .5s cubic-bezier(0.19, 1, 0.22, 1),height .5s cubic-bezier(0.19, 1, 0.22, 1));
        }
        
        &:before{
            width:0;
            height:1px;
        }
        
        &:after{
            width:1px;
            height:0;
        }
        &:hover {
            &:before {
                width:calc(100% + 10px);
            }
            &:after {
                height:calc(100% + 10px);
            }
        }
    }
    a {
        display: block;
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            @include size(100%);
            top: 0;
            left: 0;
            background-color: $base-color;
            opacity: .7;
            text-align: center;
            @include transition(opacity .5s cubic-bezier(0.19, 1, 0.22, 1));
        }
        .item-cate__desc {
            position: absolute;
            width: 100%;
            padding: 1em;
            @include center(y);
            text-align: center;
            z-index: 10;
            h5 {
                margin: 0;
                color: #fff;
                text-transform: uppercase;
                font-size: 16*$px;
                font-weight: bold; 
            }
        }
        &:hover {
            &:after {
                opacity: .4;
            }
        }
        &.item-categorize__cover {
            &:after {
                @include size(100%);
                top: 0;
                left: 0;
            }
        }
    }
    @include media('<600px') {
        li {
            width: 100%;
        }
    }
    &.item-categorize-nocover {
        a {
            &:after {
                content: none;
            }
        }
    }
}


/* ITEM CATEGORIZE 2 */

.item-categorize-2 {
    .item-categorize-2__title {
        padding: 20px 15px 0 15px;
        .item-categorize-2__price {
            font-weight: bold;
            border-radius: 10px;
            line-height: 20px;
            height: 20px;
            display: inline-block;
            padding: 0 8px;
            margin-top: -2px;
            color: $base-color;
            text-transform: none;
            font-size: 19px;
            font-family: $header-font;
        }
        h5 {
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .item-categorize-2__content {
        height: 60px;
        P {
            text-transform: uppercase;
            padding: 0 15px;
            font-size: 14px;
        }
    }
}


/* ITEM CATEGORIZE 3 */

.item-categorize-3 {
    .item-categorize-3__inner {
        position: relative;
        overflow: hidden;
        display: block;
        img {
            @include transform(scale(1));
            @include transition(transform 0.3s ease);
        }
        &:before {
            content: '';
            position: absolute;
            width:100%;
//            opacity: 0;
            top:50%;
            left:0;
            @include transform(translateY(-50%));
            height:0;
            @include transition(opacity .3s ease-in-out .2s, height .3s ease-in-out .2s);
        }

        &:before {
            z-index: 3;
            background-color: rgba($base-color, .8);
        }
        .item-categorize-3__content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #fff;
            z-index: 5;
            
        }
        .item-categorize-3__title {
            padding: 20px 23px 0 23px;
            .item-categorize-3__price {
                font-weight: bold;
                border-radius: 10px;
                line-height: 20px;
                height: 20px;
                display: inline-block;
                padding: 0 8px;
                color: #fff;
                text-transform: none;
                font-size: 19px;
                font-family: $header-font;
            }
            h5 {
                margin-top: 0;
                text-transform: uppercase;
                font-weight: bold;
                font-family: $header-font;
                color: #fff;
                font-size: 16*$px;
                margin-bottom: 0;
            }
        }
        .item-categorize-3__subtitle {
            P {
                text-transform: uppercase;
                padding: 0 23px;
                margin-bottom: 20px;
                font-size: 14px;
            }
        }
        
        .item-categorize-3__price,
        h5,
        .item-categorize-3__subtitle{
            opacity:0;
            @include transform(translateY(50%));
            @include transition(opacity .3s ease-in-out .1s, transform .3s ease-in-out .1s);
        }

        
        .item-categorize-3__subtitle{
            @include transition-delay(0s);
        }
        &:hover {
            .no-touchy & {
                img {
                    @include transform(scale(1.2));
                }

                &:before {
                    height:100%;
                    @include transition-delay(0s);
                }
                .item-categorize-3__content {
                    .item-categorize-3__price,
                    h5,
                    .item-categorize-3__subtitle{
                        opacity: 1;
                        @include transform(translateY(0));
                        @include transition-delay(.1s);
                    }
                    .item-categorize-3__subtitle{
                        @include transition-delay(.15s);    
                    }
                }
            }
        }
    }
}


/* ITEM CATEGORIZE 4 */

.item-categorize-4 {
    .item-categorize-4__inner {
        .item-categorize-4__content {
            height: 60px;
            p {
                margin: 5px 0;
                font-size: 14px;
            }
        }
    }
}

// OVERLAY BOXES

.overlay-boxes{
    @include media(">tablet"){
        display: table;
        table-layout: fixed;
        width:100%;
    }
    
    >div{
        @include media(">=tablet"){
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
}

.overlay-boxes .main-header i {
    font-size: 30px;
    font-weight: bold;
}

.overlay-boxes {
    img {
        margin-bottom: 0;
        width:100%;
    }
    
    .overlay-boxes__img{
        position: relative;
    }
}


.overlay-boxes__text {
    position: relative;
    padding-top: 3em;
    padding: 2em;
    z-index: 10;

    >*{
        position: relative;
        z-index: 10;
    }

    .main-header{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    p{
        padding: 3em 0;
        margin-bottom: 0;
    }

    ul {
        li {
            text-transform: uppercase;
            font-size: 13*$px;
            font-weight: bold;
        }
    }

    .btn-main{
        margin-top: 30*$px;
    }

    .overlay-boxes__text-inside{
        @include media(">desktop"){
            padding: 0 50px;
        }
    }
    
    &.with-center{
        @include media(">desktop"){
            @include center(y);
        }
    }
    
}

&.left{
    .overlay-boxes__text {
        &:before{
            content:none;
        }

        .main-header{
            &:before{
                content:'';
            }
        }
    }
}


/* WITH BG */
.with-bg-right,
.with-bg-left,
.with-bg-middle{
    &:before{
        content:"";
        position: absolute;
        width:100%;
        height:0;
        @include center(y);
        z-index: 1;
        background-color: rgba($base-color2,.8);
    }

    .main-header{
        &:before{
            content:none;
        }
    }

    &.add-bg-height{
        &:before{
            @include transition(height .5s ease);
            height:70%;
        }
    }
}

.with-bg-right{
    &:before{
        right:-2em;

        @include media("<=tablet"){
            right:0;
        }
    }
}

.with-bg-left{
    &:before{
        left:-2em;

        @include media("<=tablet"){
            left:0;
        }
    }
}

.with-bg-middle{
    &:before{
        left:0;
        z-index: -1;
    }
}

// stage block

.stage-block{
    max-width: 1800px;
    margin: auto;
    position: relative;
    
    &:before{
        content:'';
        display: block;
        padding-bottom:30%;
        
        @include media("<wide-screen"){
            padding-bottom: 40%;
        }
    }
    
    [class*='stage-block__']{
        position: absolute;
        top:0;
        height:100%;
    }
    
    .stage-block__text{
        left:0;
        padding: 4em;
        width:33.666%;
        
        @include media("<desktop"){
            padding: 2em;
        }
    }
    
    .stage-block__map,
    .stage-block__img{
        right:0;
        width:66.333%;
    }
    
    &.right{
        .stage-block__text{
            right:0;
            left:auto;
        }
        
        .stage-block__img{
            left:0;
            right:auto;
        }
    }
    
    @include media("<desktop"){
        &:before{
            content:none;
        }
        
        [class*='stage-block__']{
            position: relative;
            width:100%;
        }
        
        .stage-block__map,
        .stage-block__img{
            width:100%;
        }
        
        .stage-block__map{
            height:300px;
            
            .gmap_canvas{
                height:100%;
            }
        }
    }
}


// instagram-list

.instagram-list{
    @extend %clearfix;
    li{
        @include smallGrid(8);
        
        @include media("<desktop"){
            @include smallGrid(4);
        }
        
        img{
            width:100%;
        }
    }
}

// standard-block

.standard-block{
    position: relative;

    padding:($space-y-half + 42.5*$px) 30px $space-y-half;
    
    .main-header{
        margin: 0;
        padding-bottom: 0;
    }
    
    p{
        padding-top:50px;
        margin-bottom: 0;
    }
    
    ul {
        margin-top: 50*$px;
        li {
            text-transform: uppercase;
            font-size: 13*$px;
            font-weight: bold;
        }
    }

    .btn-main{
        margin: 30*$px 0 10*$px;
    }
}

.add-rotat-header{
    position: relative;
    .add-rotat-header__rotatleft,
    .add-rotat-header__rotatright{
        position: absolute;
        top:45px;
        z-index: 10;
        font-size: 14*$px;
        text-transform: uppercase;
        @include transform(rotate(90deg));
        
        @include media("<desktop"){
            display: none;
        }
    }
    
    .add-rotat-header__rotatleft{
        left:-75px;
    }
    
    .add-rotat-header__rotatright{
        right:-75px;
    }
}

.even-boxes {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact-section-2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    i {
        float: right;
        font-size: 30px;
        margin-top: 12px;
    }
    .content-section__text {
        float: left;
        padding: 2em;
        background-color: #FFF;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    }
    ul {
        margin-top: 20*$px;
        li {
            text-transform: capitalize;
            color: #000;
            font-size: 13*$px;
            &:before {
                content: '';
                width: 5px;
                height: 1px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
                background-color: $base-color;
            }
        }
    }
}




/* CONTENT MEDIA */

.content-media {
    position: absolute;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    right: auto;
    height: 100%;
    width: 50%;
    &.right {
        right: 0;
        left: auto;
    }
    @include media('<wide-screen') {
        width: 25%;
    }
    @include media('<tablet') {
        position: relative;
        width: 100%;
        height: 200px;
    }
    &.alt {
        @include media('>wide-screen') {
            width: 60%;
        }
    }
}


/* CONTENT INFO */

.content-media-wrapper {
    @include media("<desktop") {
        .map-wrap {
            position: relative;
        }
        .gmap_canvas {
            height: 250px;
        }
    }
    .split-img {
        float: right;
        @include media("<desktop") {
            float: none;
        }
    }
    .split-img__in {
        position: absolute;
        background-size: cover;
        background-position: 50% 50%;
        top: 0;
        left: 0;
        @include size(100%);
        @include media("<desktop") {
            position: relative;
            height: 250px;
        }
    }
}

.content-info {
    position: relative;
    width: 450px;
    height: 500px;
    float: left;
    padding: 2em;
    background-color: $base-color2;
    background-image: url("../images/pattern/bg-texture-white.png");
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    @include media("<desktop") {
        width: 100%;
        height: auto;
    }
    &:after {
        content: '';
        display: block;
        padding-bottom: 56.25%;
        @include media("<desktop") {
            content: none;
        }
    }
    .content-info__in {
        &:first-child {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px dashed #17161c;
        }
    }
}

.split-content {
    position: absolute;
    width: 100%;
    &:after {
        content: '';
        display: block;
        padding-bottom: 56.25%;
        @include media("<desktop") {
            content: none;
        }
    }
    .split-content__in {
        position: absolute;
        padding: 0 12%;
        right: 0;
        bottom: 0;
        left: 0;
        @include center(y);
        color: #fff;
        @include media("<desktop") {
            position: relative;
            top: auto;
            padding: 0;
            @include transform(translateY(0));
        }
        .main-header {
            color: #fff;
            &:before,
            &:after {
                background-color: #fff;
            }
        }
    }
    @include media("<desktop") {
        position: relative;
        padding: 30px 15px;
    }
}



/* DATEPICKER */

#ui-datepicker-div {
    width: 300px;
    background-color: $base-color2;
    padding: 2em;
    border: 1px solid $base-color2;
    display: none;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 .3em;
    font-size: 1.3em;
    font-family: "FontAwesome";
    background: #EAEAEA;
    color: #000;
    cursor: pointer;
    background-color: transparent;
}

#ui-datepicker-div .ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    color: #000;
    line-height: 35px;
    font-size: .9em;
    text-align: center;
    width: auto;
    font-weight: 600;
}

.ui-datepicker-calendar {
    border-spacing: 0px;
    width: 100%;
    thead {
        color: $text-color;
    }
    .ui-datepicker-group-middle thead {
        background: #E0E5EB;
    }
    thead th {
        font-weight: normal;
        padding: 5px;
        font-size: 0.9em;
        text-align: center;
    }
    td {
        border-right: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        text-align: center;
        font-size: 0.8em;
        width: 30px;
        height: 30px;
        padding: 0px;
    }
    td a {
        color: #000;
        width: auto;
        height: 100%;
        display: block;
        line-height: 29px;
        font-weight: 600;
        &.ui-state-highlight {
            position: relative;
            &:before {
                content: " ";
                position: absolute;
                top: 2px;
                right: 2px;
                width: 0;
                height: 0;
                border-top: 0.5em solid #000;
                border-left: .5em solid transparent;
            }
        }
    }
    .ui-datepicker-group-middle {
        background: url(../images/grid.png) repeat-x left bottom #F9F9F8;
        min-height: 247px;
    }
    #ui-datepicker-div .ui-datepicker-group-middle td {
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
    }
    td.ui-datepicker-current-day a {
        background: #000;
        color: #FFF;
    }
    .ui-datepicker-group {
        float: left;
        width: 217px;
    }
    .ui-datepicker-row-break {
        display: none;
    }
    div .ui-datepicker-next {
        float: right;
    }
}

.ui-datepicker-buttonpane {
    margin-top: 1em;
    @extend %clearfix;
    button {
        background: #000;
        padding: .3em 1em;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }
    .ui-datepicker-close {
        float: right;
    }
}


/*********************************************
	-	HERO SEPARETE	-
**********************************************/

.hero-separet {
    position: relative;
    width: 100%;
    z-index: 0;
    background-color: transparent;
    min-height: 70vh;
    .hero-separet__header {
        position: absolute;
        @include center(xy);
        text-transform: uppercase;
        font-size: 70px;
        color: #fff;
        @include media("<wide-screen") {
            font-size: 50px;
        }
        @include media("<desktop") {
            font-size: 30px;
        }
        @include media("<tablet") {
            font-size: 20px;
        }
    }
}


/*********************************************
	-	BACK TO TOP	-
**********************************************/

.back-to-top {
    text-decoration: none;
    color: $base-color;
    @include transition(color .3s ease-in-out);
    text-transform: uppercase;
    &:hover {
        color: #fff;
    }
}

.animatedIn {
    visibility: hidden;
}

.visibleIn {
    visibility: visible;
}

.animatedIn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}