/*-----------------------------------------------------------------------------
   23. Map Wrap
-----------------------------------------------------------------------------*/

.map-container{
    position: relative;
    width:100%;
    height:400px;
    
    @include media('<=tablet'){
        height:250px;
    }
}

.map-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    .pic-pano{
        position: absolute;
        width:100%;
        height:200px;
        top:0;
        left:0; 
        z-index:1;
    }
}

.gmap_canvas {
    width:100%;
    height:100%;
    
    img {
        max-width: none!important;
        background: none!important
    }
    
    @include media('<=tablet'){
        height:250px;
    }
}

.content-media-wrapper{
    .content-mediawrapper__map{
        width:calc(100% - 450px);
        float: left;

        @include media("<desktop"){
            width:100%;
        }

        .map-wrap{
            height:500px;

            @include media("<desktop"){
                height:auto;
            }
        }
    } 
}
