/*-----------------------------------------------------------------------------
   8. Animate
-----------------------------------------------------------------------------*/

.animated {
    @include animation-duration(1s);
    @include animation-fill-mode(both);
}

/*********************************************
	-	fadeInRight	-
**********************************************/

@include keyframes(fadeInRight) {
  from {
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}


.fadeInRight {
    @include animation-name(fadeInRight);
}

@include keyframes(fadeInRightSmall) {
  from {
    opacity: 0;
    @include transform(translate3d(20%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}


.fadeInRightSmall {
    @include animation-name(fadeInRightSmall);
}

/*********************************************
	-	fadeInLeft	-
**********************************************/

@include keyframes(fadeInLeft) {
  from {
    opacity: 0;
    @include transform(translate3d(-100%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}


.fadeInLeft {
    @include animation-name(fadeInLeft);
}

@include keyframes(fadeInLeftSmall) {
  from {
    opacity: 0;
    @include transform(translate3d(-20%, 0, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}


.fadeInLeftSmall {
    @include animation-name(fadeInLeftSmall);
}

/*********************************************
	-	fadeInUp	-
**********************************************/

@include keyframes(fadeInUp) {
  from {
    opacity: 0;
    @include transform(translate3d(0, 50%, 0));
  }

  to {
    opacity: 1;
    @include transform(none);
  }
}


.fadeInUp {
    @include animation-name(fadeInUp);
}


/*********************************************
	-	fadeInDown	-
**********************************************/

@include keyframes(fadeInDown) {
  from {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0) rotate(90deg));
  }

  to {
    opacity: 1;
    @include transform(translate3d(0, 0, 0) rotate(90deg));
  }
}


.fadeInDown {
    @include animation-name(fadeInDown);
}

/*********************************************
	-	fadeIn	-
**********************************************/

@include keyframes(fadeIn) { 
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
    @include animation-name(fadeIn);
}

/*********************************************
	-	fadeOut	-
**********************************************/

@include keyframes(fadeOut) { 
  0% {
    opacity : 1   ;
  }  
  100% {
    opacity : 0   ;
  }
}


.fadeOut {
    @include animation-name(fadeOut);
}

/*********************************************
	-	bouncIn	-
**********************************************/

@include keyframes (bouncIn){
    from{
        @include transform(scale(0));
        @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.5));
    }
    
    to{
        @include transform(scale(1));
        @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.5));
    }
}

.bouncIn {
    @include animation-name(bouncIn);
    @include animation-duration(.5s);
}

/*********************************************
	-	fullWidth	-
**********************************************/

@include keyframes (fullWidth){
    from{
        width:0;
        @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.5));
    }
    
    to{
        width:100%;
        @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.5));
    }
}

.fullWidth {
    @include animation-name(fullWidth);
}

/*********************************************
	-	flipInY	-
**********************************************/

@include keyframes (flipInY) {
  from {
    @include transform(perspective(400px) rotate3d(0, 1, 0, 45deg));
    @include animation-timing-function(ease-in);
    opacity: 0;
  }
    
    
    50%{
        @include transform(perspective(400px) translate3d(50px , 0 , 0)) ;
    }


  to {
    @include transform(perspective(400px));
  }
}

.flipInY {
  @include backface-visibility(visible !important);
  @include animation-name(flipInY);
}


