%the-center {
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
        /* Adjusts for spacing */
    }
    .centered {
        display: inline-block;
        vertical-align: middle;
        width: 99%;
    }
}

%clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%standard-text{
    letter-spacing: 2px;
}

%alink-hover{
    position: relative;
    @include transition(color .5s);
    
    &:after{
        position: absolute;
        z-index: 1;
        content: "";
        left: 51%;
        right: 51%;
        height: 1px;
        bottom: 0;
        background-color: #24252f;
        @include transition (right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55));
    }
    
    &:hover{

        &:after{
            left: 0;
            right: 0;
        }
    }
}