$phi: 1.618;

$base_font_size: 16;
$px: ( 1 / $base_font_size ) * 1rem;

$header-font: 'Playfair Display', serif;
$main-font: 'Playfair Display', serif;
//$header-font: 'Fauna One', serif;
$font-weight:normal;
$baseline: $phi*1em;



$text-color:#4E4E4E;
//$text-color:#555;
$base-color:#24252f;
//$base-color:#252525;
$base-color2:#E6ECF3;
$base-color3:#EFEFEF;

$stable-color:#fff;


// icon color 

$icon-color1:#bfc2c8;


// border color 

$border-color:lighten($icon-color1,10%); 



// space
$default_h_space: $phi * $phi * $phi * 1rem;
$default_v_space: $default_h_space;

$space-y:$default_h_space * 1.4;
$space-y-quarter:$default_h_space * 1;
$space-y-half:$space-y / 2;
$space-small:$space-y / 3;

// animation duration

$fold-animation: .5s;
$fold-content-animation: .2s*(3+1)/2; // replace 3 with number of elements that you want to animate

$items: 4;